:root {
    --bottom-bar-gradient: linear-gradient(270deg, #6006fa, #ffb101);
    --button-gradient:  linear-gradient(267deg,#6006fa,#2344e8);
    --bg-color-primary: #1b1e20;
    --bg-color-secondary: #1f2225;
    --border-color: #151515;
    --quote-background: #232628;
    --input-background: #2c3033;
    --input-background-disabled:#2f3336;
    --text-color: white;
    --subtle-text-color: #e9e9e9de;
    --royal-blue: #2344e8;
    --side-bar-text-color: white;
    --side-bar-hover-bg: #1f2225;
    --side-bar-hover-color: white;
    --table-primary-bg: #232628;
    --table-secondary-bg: #151515;
    --link-color: #e8235e;
    --input-switch-bar-bg:  rgba(255, 255, 255, 0.26);
    --compass-invert: invert(100%);
    --chatbutton-text-color: white;
    --note-msg-bg: #13161a
}
/* LIGHT THEME (WIP)*/
:root.bg-light {
    --bottom-bar-gradient: linear-gradient(270deg, #06ddfa, #018dff);
    --button-gradient:  linear-gradient(270deg, #06a0fa, #018dff);
    --bg-color-primary: #ffffff;
    --bg-color-secondary: #f7f7f7;
    --border-color: #c4c4c4;
    --quote-background: #cecece;
    --input-background: #e0e0e0;
    --input-background-disabled:#d3d3d3;
    --text-color: black;
    --subtle-text-color: #424242de;
    --royal-blue: #018dff;
    --side-bar-text-color: black;
    --side-bar-hover-bg: linear-gradient(270deg, #06a0fa, #018dff);
    --side-bar-hover-color: white;
    --table-primary-bg: #f8f8f8;
    --table-secondary-bg: #e4e4e4;
    --link-color: #018dff;
    --input-switch-bar-bg: #e6e6e6;
    --compass-invert: unset;
    --chatbutton-text-color: white;
    --note-msg-bg: #f7f7f7;
}
:root.bg-dev {
    --bottom-bar-gradient: linear-gradient( 90deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%) );
    --button-gradient:  linear-gradient(267deg,#6006fa,#2344e8);
    --bg-color-primary: #000000;
    --bg-color-secondary: #101113;
    --border-color: #151515;
    --quote-background: #0f1011;
    --input-background: #171a1b;
    --input-background-disabled:#16181a;
    --text-color: white;
    --subtle-text-color: #e9e9e9de;
    --royal-blue: #2344e8;
    --side-bar-text-color: white;
    --side-bar-hover-bg: #101113;
    --side-bar-hover-color: white;
    --table-primary-bg: #030303;
    --table-secondary-bg: #101113;
    --link-color: #e8235e;
    --input-switch-bar-bg:  rgba(255, 255, 255, 0.26);
    --compass-invert: invert(100%);
    --chatbutton-text-color: white;
    --note-msg-bg: #0b0d0f;
}
* {
    transition: background 0.25s;
    box-sizing: border-box;
}
a {
    color: var(--link-color);
}
body, html {
    background: var(--bg-color-primary);
    color: var(--text-color);
}
.mdl-layout__header {
    background: var(--bg-color-secondary);
    color: var(--text-color);
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: var(--text-color)
}
.mdl-layout__header .mdl-layout__drawer-button {
    color: var(--text-color);
}
.mdl-layout__drawer,
.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: var(--text-color);
}
.mdl-layout.is-upgraded .mdl-layout__tab {
    color: var(--subtle-text-color);
}
.mdl-layout__tab-bar {
	background-color: var(--bg-color-secondary);
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after  {
    background: var(--bottom-bar-gradient);
    height: 4px;
}
.drawer {
    background-color: var(--bg-color-primary) !important;
    border-right: 3px solid var(--bg-color-secondary);
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background: var(--side-bar-hover-bg);
    color: var(--side-bar-hover-color);
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, 
.mdl-button--fab.mdl-button--colored, 
.mdl-button--accent.mdl-button--accent.mdl-button--fab,
.mdl-button--raised.mdl-button--colored {
    background:var(--button-gradient);
}
.page-content #resultDicesBox {
    background: var(--bg-color-primary);
}
.page-content #resultDices {
    background: var(--bg-color-secondary);
    color: var(--text-color);
}

.mdl-checkbox.is-checked .mdl-checkbox__focus-helper {
    background-color: white;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid var(--royal-blue);
  }
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
background: var(--royal-blue);
}
.mdl-checkbox__box-outline {
    border: 2px solid var(--subtle-text-color);
}
.mdl-list__item, .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
    color: var(--subtle-text-color);
}
.mdl-switch.is-checked .mdl-switch__thumb {
    background:var(--button-gradient);
}
.mdl-switch.is-checked .mdl-switch__track {
    background:var(--button-gradient);
}
.mdl-switch__track {
    background: var(--input-switch-bar-bg);
}
.mdl-menu__outline {
    display: block;
    background: var(--bg-color-secondary);
    color: var(--text-color);
}
.mdl-menu__item {
    color:var(--text-color);
}
.mdl-menu__item:hover {
    background-color: var(--bg-color-primary);
}
.mdl-progress.mdl-progress--indeterminate > .bar1, .mdl-progress.mdl-progress__indeterminate > .bar1, .mdl-progress.mdl-progress--indeterminate > .bar3, .mdl-progress.mdl-progress__indeterminate > .bar3  {
    background:var(--button-gradient);
}
.newInput {
    color: var(--text-color);
    background-color: var(--input-background);
    border-color: var(--border-color);
    transition: all 0.20s;
}

.newInput:focus {
    color: var(--text-color);
    background-color: var(--input-background);
    border-color: var(--border-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(10, 165, 255, 0.425);
}


/* CHAT ROOM */
.chatroom.sendMessageRoom, .page-content #fileOptions {
    background: var(--bg-color-secondary);
}
.chatroom.sendMessageInputs {
	background: var(--input-background);
	color: var(--text-color);
}
.chatroom.sendMessageInputs.headInput::placeholder {
    color: rgb(226, 226, 226);
    opacity:  0.8;
}
.chatroom.sendMessageInputs.headInput {
    background: #5d72dd;
    color: var(--text-color);
}
.chatroom.sendButtonMessages {
    background: var(--royal-blue);
    color: var(--chatbutton-text-color);
}
#qrcanv img {
    padding: 10px;
    border-radius: 5px;
    background: var(--text-color);
}
/* TABLES */
.mdl-data-table {
    border: 1px solid var(--border-color);
    background-color: var(--table-primary-bg);
}
.mdl-data-table tbody tr:hover {
    background-color: var(--table-secondary-bg);
}

/* NOTES */
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:var(--button-gradient);
}
.mdl-card {
    background: var(--bg-color-secondary);
    color: var(--text-color);
}
.mdl-card__supporting-text {
    color: var(--text-color);
}
.toastui-editor-contents h1, 
.toastui-editor-contents h2, 
.toastui-editor-contents h3, 
.toastui-editor-contents h4, 
.toastui-editor-contents h5, 
.toastui-editor-contents h6 {
  font-weight: 700;
  color: var(--text-color);
  margin: 10px 0px;
  padding: 5px 0;
}
.toastui-editor-contents p, 
.ProseMirror {
  color: var(--text-color);
}
.toastui-editor-contents pre {
  margin: 2px 0 8px;
  padding: 18px;
  background-color: var(--quote-background);
  color: var(--text-color);
}
.toastui-editor-md-code-block-line-background {
    background-color: var(--quote-background);
    color: var(--text-color);
}
.toastui-editor-contents blockquote {
    border-left: 4px solid var(--subtle-text-color);
}
.toastui-editor-contents blockquote ol, 
.toastui-editor-contents blockquote p, 
.toastui-editor-contents blockquote ul,
.toastui-editor-md-block-quote .toastui-editor-md-marked-text, 
.toastui-editor-md-list-item .toastui-editor-md-meta,
.token.cdata,
.token.comment,
.token.doctype, 
.token.prolog {
    color: var(--subtle-text-color);
}
.toastui-editor-defaultUI {
    position: relative;
    border: 1px solid var(--border-color);
}
.toastui-editor-defaultUI-toolbar, 
.toastui-editor-defaultUI .toastui-editor-md-tab-container {
	background-color: var(--bg-color-secondary);
	border-bottom: 1px solid var(--input-background);
    color: var(--text-color);
}
.toastui-editor-defaultUI-toolbar button {
    border: 1px solid var(--border-color);
}
.toastui-editor-main .toastui-editor-md-tab-style > .active {
    background: var(--input-background)
  }
.toastui-editor-toolbar-icons {
    background-position-y: -23px;
}
.toastui-editor-md-tab-container .tab-item.active {
	border-bottom: none;
	background-color: var(--input-background);
    color: var(--text-color);
}
.toastui-editor-md-tab-container .tab-item {
	background: var(--bg-color-secondary);
	color: var(--subtle-text-color);
	border: 1px solid var(--border-color);
    margin-top: 12px;
}
.toastui-editor-dropdown-toolbar {
	border: 1px solid var(--border-color);
	background-color: var(--bg-color-secondary);
}
.toastui-editor-defaultUI-toolbar button:not(:disabled):hover {
    background-color: var(--quote-background);
    border: 1px solid var(--border-color);
}
/* MODALS */
.mdl-dialog {
    background: var(--bg-color-secondary);
    color: var(--text-color);
}
.mdl-dialog__content {
    color: var(--text-color);
}

.mdl-button {
    color: var(--text-color);
}
#add-note-content,#edit-note-content  {
    /* background: var(--text-color); */
    border-radius: 6px;
    color: var(--bg-color-secondary);
}
.noteShownContent {
    background: var(--input-background)
}
.speedometer { 
    background: var(--bg-color-secondary);
}
.textSpeed {
    color: var(--text-color);
}
.compass {
    background: var(--bg-color-secondary);
}
.compass-circle {
    filter: var(--compass-invert);
}
.compass .arrow {
    border-color: var(--royal-blue) transparent transparent transparent;
}
fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input {
    background-color: var(--input-background-disabled);
    border-bottom: 1px solid var(--border-color);
    color: var(--subtle-text-color);
}
.chatroom.messagesRoom .message .messageList.peer.peer-note, 
.chatroom.messagesRoom .message .messageList.self.self-note {
    background: var(--note-msg-bg);
    color: var(--text-color);
}
.chatroom.messagesRoom .message span.msg-time.self.self-note,
.chatroom.messagesRoom .message span.msg-time.peer.peer-note {
    color: var(--subtle-text-color);
}

/* HANGMAN */
.page-content.hangmangame .hangman line,.page-content.hangmangame  .hangman circle {
    stroke: var(--text-color);
}
.page-content.hangmangame .word span {  
    border-bottom: 2px solid var(--text-color);
}
.selectDropdown {
    background: var(--input-background);
    color: var(--text-color);
    border-bottom: 3px solid var(--border-color);
}