/* FONTS */

@font-face {
    font-family: UbuntuLight;
    src: url('fonts/Ubuntu-R.ttf');
}

/* LOADING SCREEN */
#loading .external {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p, body {    
    font-family: UbuntuLight;
}
textarea, input {
    outline: none;
}
is-focused {
    border: none;
}
#loading .middle {
    display: table-cell;
    vertical-align: middle;
}
#loading .internal {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
#loading .internal img {
    margin: 0 auto;
    width: 225px;
    height: 225px;
}
#loading .internal #p2 {
    margin: 50px auto;
    width: 250px;
}


.page-content p {
    text-align: center;
    margin: 5px 25px;
}
/* DICES */
.page-content #resultDicesBox {
    height: 82px;
    padding: 10px 43px;
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
} 
.page-content #resultDices {
    height: 60px;
    padding: 5px 20px;
    text-align: right;
    font-size: 33px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    line-height: 50px;
}
.page-content #divBlank1 {
    height: 90px;
    display: block;
}
.bigButton {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    font-size: 30px;
    padding: 17px 5px;
    box-sizing: border-box;
    height: auto;
    font-weight: bold;
    font-family: UbuntuLight;
}

@media screen and (min-width: 480px) and (max-width: 840px) {
    .mdl-cell {
        width: calc(100% - 16px);
    }
}

/* COULEURS DE LA SIDEBAR */
/* NAVIGATION */ 
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #fff;
}
.drawer-header .header-text-custom{
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after, .mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--fab.mdl-button--colored, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #8396ff;
}
.page-content #resultDices {
    border-color: #8396ff;
}
.mdl-button--fab.mdl-button--colored:active, .mdl-button--fab.mdl-button--colored:hover {
    background-color: #6178fd;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.rotate {
    animation: rotation 2s ease infinite;
}
.nav-white-links > i {
    margin-right: 25px;
}
.nav-white-links {
    font-weight: bold;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover { 
    background: #8396ff;
}
.drawer {
    border-right: 2px solid #8396ff;background-color: #3f51b5 !important;
}

/* TITRE DES NOTES*/
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:#3f51b5;
}
#notes-content .defaultNotes .noNoteIcon, .sc-content .defaultSC .noSCIcon {
    font-size: 150px;
    margin-bottom: 25px;
}
#notes-content .defaultNotes p, .sc-content .defaultSC p {
    font-size: 24px;
}
#notes-content .defaultNotes, .sc-content .defaultSC {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.noteShownContent h1,.noteShownContent h2,.noteShownContent h3,.noteShownContent h4,.noteShownContent h5,.noteShownContent h6,.noteShownContent p {
    padding: 0; margin: 0;
}
#noteShownContent p, .editor p {
    text-align: left;
    font-size: 14px;
}
#noteShownContentMessage p, .editor p {
    text-align: left;
    font-size: 14px;
    margin: 0;
}
.toastui-editor-defaultUI-toolbar {
    padding: 0;
}
.toastui-editor-toolbar-divider {
    display: none;
}
.toastui-editor-dropdown-toolbar {
    top: 43px; right: 10px;flex-direction: column;width: 53%;height: auto;
}
.toastui-editor-defaultUI .ProseMirror {
    padding: 15px;
}
blockquote:before {
    position:absolute;
    left:0;
    content:'';
}
blockquote:after {
    content:'';
    margin-left: 0;
}

/* LONGEUR DES POPUP */
.mdl-dialog {
    width: 85%;
}

/* CHAT ROOMS */
.chatroom.status {
    font-weight: bold;
    font-size: 12px;
    color: #224377;
}

.chatroom.message {
    overflow: auto;
}
.chatroom.sendButtonMessages:hover, .sendButtonMessages:focus {
    background: #277ff1
}
.chatroom.sendButtonMessages {
    background: #0067ea;
    color: white;
    transition: all 0.15s;
    padding: 8px;
    border: none;
    border-radius: 50px;
}
.chatroom.sendMessageInputs {
    width:100%;
    background: #e0e0e0;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 15px;
    min-height: 20px;
    border: none;
    resize: none;
    max-height: 40vh;
    height: 40px;
    font-family: Ubuntu;
}
.chatroom.sendMessageInputs.headInput {
    background: #b1beff;
}
.flexContent.chatroom {
    display: table;
    height: 100%;
    width: 100%;
}
.chatroom.flexContent2 {
    display: flex;
}
.selectDropdown {    
    width: 100%;
    background: #eaeaea;
    border: none;
    border-bottom: 3px solid #3f51b5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}
.chatroom.messagesRoom .message .messageList {
    background: orange;
    font-size: 16px;
    word-break: break-word;
    color: white;
    border-radius: 10px;
    margin: 10px 10px 10px 75px;
    padding: 10px;
}
.chatroom.messagesRoom .message .messageList.self.self-msg {
    background: #0067ea;
    color: white;
}
.chatroom.messagesRoom .message .messageList.peer.peer-msg {
    background: #f5f5f5;
    color: #212121;
}
.chatroom.messagesRoom .message .messageList.peer.peer-location, 
.chatroom.messagesRoom .message .messageList.self.self-location {
    background: #ffab2d;
    color: #212121;
}
.chatroom.messagesRoom .message .messageList.peer.peer-note, 
.chatroom.messagesRoom .message .messageList.self.self-note {
    background: #13161a;
    color: white;
    text-align: left;
}
.chatroom.messagesRoom .message .messageList.peer.peer-cisco, 
.chatroom.messagesRoom .message .messageList.self.self-cisco {
    background: #a961ff;
}
.chatroom.messagesRoom .message .messageList.peer.peer-location span.msg-time, 
.chatroom.messagesRoom .message .messageList.self.self-location span.msg-time {
    color: #383838;
}
.chatroom.messagesRoom .message .messageList.peer.peer-image, 
.chatroom.messagesRoom .message .messageList.self.self-image {
    padding: 10px;background: crimson;
}
.chatroom.messagesRoom .message .messageList.peer.peer-image span.msg-time, 
.chatroom.messagesRoom .message .messageList.self.self-image span.msg-time,
.chatroom.messagesRoom .message .messageList.peer.peer-cisco span.msg-time, 
.chatroom.messagesRoom .message .messageList.self.self-cisco span.msg-time {
    padding: 0;
    color: #f1f1f1;
    padding-left: 10px;
    line-height: 10px;
}

.chatroom.messagesRoom .message .messageList.self {
    border-radius: 10px;
    margin: 10px 10px 10px 75px;
    padding: 10px;
    min-height: 20px;
    display: flex;
}
.chatroom.messagesRoom .message .messageList.peer {
    margin: 10px 75px 10px 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    min-height: 20px;
}
.chatroom.messagesRoom .message span.msg-time.peer { color: #686868; }
.chatroom.messagesRoom .message span.msg-time.self { color: #f0f0f0; }
.chatroom.messagesRoom .message span.msg-time.self.self-note,
.chatroom.messagesRoom .message span.msg-time.peer.peer-note {
    color: #dfdfdf;
}
.chatroom.messagesRoom .message span.msg-time {
    color: white;
    float: right;    
    align-self: flex-end;
    font-size: 13px;
}
.chatroom.sendMessageRoom {
    padding: 10px;
    position: fixed;
    bottom: 0;right: 0;left: 0;
    background: white;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.chatroom.flexContent > div {
    display: table-row;
}
.qrcanv.chatroom > img, .qrcanv.chatroom > canvas {
    margin: 0 auto 25px;
    /* width: 100%; */
}

.showImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.showImage:hover {opacity: 0.7;}

/* LE MODALE POUR LES IMAGES DANS LE CHAT */
#modalImage.modal {
    display: none; 
    position: fixed; 
    z-index: 5;
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
#modalImage.modal .modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#modalImage.modal .modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.4s;
  animation-name: zoom;
  animation-duration: 0.4s;
}
@-webkit-keyframes zoom {
    from {
        transform:scale(0) translate(-50%, -50%);
    } 
    to {
        transform:scale(1) translate(-50%, -50%);
    }
}
@keyframes zoom {
    from {
        transform:scale(0) translate(-50%, -50%);
    } 
    to {
        transform:scale(1) translate(-50%, -50%);
    }
}
#modalImage.modal .close {
  position: absolute;bottom: 25px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  z-index: 5;
  font-weight: bold;
  transition: 0.3s;
}
#modalImage.modal .close:hover,
#modalImage.modal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Les alertes bulles dans le chat */
#alertMessage {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 80px;
    left: 50%;
    transition: all 0.2s;
}
.opacClass {    
    animation: opac 2s infinite;
}
@keyframes opac {
    0% { 
        opacity: 0;
    }
    25% { 
        opacity: 1;
    }
    75% { 
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}
.rotatedButton {
    transform: rotate(45deg);
}
.page-content #fileOptions {
    position: fixed;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    left: 0;
    bottom: 0;
    background: white;
    right: 0;
    padding: 5px;
    transition: all .3s ease-in-out;
}

/* TABLES */
td.rightFocused {
    width: 50%; 
    text-align: right;
    font-size: 15px;
}
td.leftFocused {
    width: 50%; 
    text-align: left;
    font-size: 15px;
}
td.leftFocused .leftData {
    text-align:left;
    font-size:35px; 
    margin:0; 
    margin-top: 10px;
}
td.rightFocused .rightData{
    text-align:right;
    font-size:35px;
    margin:0;
    margin-top: 10px;
}
.newInput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.newInput {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: UbuntuLight;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 5px;
    /* WIDTH 100% + PADDING */
    width: 100%;
    box-sizing: border-box;
}
.reflexeGame #zero {
    position: absolute;
    top:0;
    right:0;
    left:0;
    background: rgb(222, 135, 181);
    bottom:0;
}
.reflexeGame #waiting {
    position: absolute;
    top:0;
    right:0;
    background: rgb(148, 135, 222);
    left:0;
    bottom:0;
}
.reflexeGame #gameOn {
    position: absolute;
    top:0;
    right:0;
    background: rgb(135, 222, 154);
    left:0;
    bottom:0;
}
.reflexeGame #stats {
    position: absolute;
    top:0;
    right:0;
    background: rgb(135, 173, 222);
    left:0;
    bottom:0;
}
.reflexeGame #stats #centred {
    margin-top:10px;
}
.reflexeGame #centred {
    margin-top:35vh;
}

.reflexeGame #zero p,.reflexeGame #gameOn p  {
    animation: 3s ease 0s normal forwards infinite fadeinText;
}
.reflexeGame #zero p,#gameOn p ,#stats p ,#waiting p {
    text-align: center;
    font-family: Ubuntu;
    line-height: 40px;
    font-size: 30px;
    text-transform: uppercase;
}
.reflexeGame #stats p {
    text-transform: none;
}
@keyframes fadeinText{
    0% { opacity:1; }
    50% { opacity:0.3; }
    100% { opacity:1; }
}
.speedometer { 
    position: absolute;
    bottom: 15px;
    z-index: 4;
    margin: 4px;
    left: 10px;
    min-width: 102px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 50px;
    display: flex;
}
.circleSpeed {
    width: 25px;
    height: 25px;
    background: #2484ff;
    border-radius: 50px;
    display: inline-block;
}
.textSpeed {
    display: inline-block;
    padding: 3px 5px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.compass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    z-index: 4;
    bottom: 45px;
    width: 100px;
    height: 100px;
    margin: 20px;
}
.compass > .arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #3e6eff transparent transparent transparent;
    z-index: 1;
}

.compass > .compass-circle,
.compass > .my-point {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    background: url('../img/compass.png')center no-repeat;
    background-size: contain;
}

.compass > .my-point {
    opacity: 0;
    width: 20%;
    height: 20%;
    background: rgb(8, 223, 69);
    border-radius: 50%;
    transition: opacity 0.5s ease-out;
}
.page-content.hangmangame .word {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    width: fit-cTwo Sidesontent;
    margin: 30px auto;
}
.page-content.hangmangame .word span {  
    border-bottom: 2px solid white;
    padding: 10px 5px;
    margin: 5px 5px 0 10px;
    width: 30px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    /* flex: 1; */
    height: 43px;
}
.page-content.hangmangame .hangman svg {  
    position: absolute;
    top: 5px;
    left: 10px;
    width: 18%;
    height: 100px;
    z-index: -1;
}

.page-content.hangmangame .hangman line,.page-content.hangmangame  .hangman circle {
    stroke: white;
    stroke-width: 4;
    fill: none;
}

.page-content.hangmangame .hangman .draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.page-content.hangmangame .hidden {
    display: unset !important;
}
.page-content.hangmangame .status, 
.page-content.justprice .hint, 
.page-content.justprice .status {  
    font-size: 50px;
    font-weight: bold;
    color: #0093ff;
    text-align: right;
}
.page-content.hangmangame .statusmsg, .page-content.justprice .statusmsg{
    text-align: right;  
    margin-bottom: 20px;
}
.page-content.hangmangame .bold, .page-content.justprice .bold {
    font-weight: bold;
}   

.bouleMagique {
    text-align: center;
    font-size: 30px;
    color: #0093ff;
    line-height: 40px;
    margin: 25px;
}
.shake {
    animation: shake 0.6s;
    animation-iteration-count: 1;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}